.input{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 4.375rem;

    &__text{
        width: 20rem;
        height: 1.875rem;
        border: none;
        background-color: white;
        border-bottom-left-radius: 0.9375rem;
        border-top-left-radius: 0.9375rem;
        padding-left: 0.9375rem;
    }

    &__add{
            background-color: rgba(235, 154, 48, .2);
            color: white;

        &:hover{
            background-color: rgba(235, 154, 48, .6);
            color: white;
        }
        &:active{
            color: white;
            background-color: rgba(235, 154, 48, 1);
            
        }
    }
}
